/target
**/Cargo.lock
**/Cargo.toml
**/Cargo.cache
**/*.rs.bk
**/*.rs.bkp
**/*.swp
**/*.tmp
**/*.swo
/.git
/.github
/.gitignore
/.idea
/.vscode
/.DS_Store
/tests/output/
.env
*.env
*.so
*.dylib
*.dll
/node_modules
npm-debug.log
**/__pycache__/
*~
*.bak
*.swp
*.tmp
*.log
**/coverage/